@{
    ViewData["Title"] = "Show Page";
}

@model Dish

<h1>Resturant Dish</h1>

<p>Name: @Model.Name</p>
<p>Chef: @Model.User.FirstName @Model.User.LastName</p>
<p>Tastiness: @Model.Tastiness</p>
<p>Calories: @Model.Calories</p>
<p>Description: @Model.Description</p>

<a class="btn" href="/dishes/show">Home</a>

@if (Model.User.UserId == @Context.Session.GetInt32("UserId"))
{
    <a href="/dishes/@Model.DishId/edit" class="btn">Edit</a>
    <form asp-action="DestroyDish" asp-controller="CRUD" asp-route-DishId="@Model.DishId" method="post">
        <input class="btn" type="submit" value="Delete">
    </form>
}


